.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #ffffff;
  /* height: 100vh */
}

.header {
  margin-top: 4%;
  font-size: 3rem;
  margin-bottom: 2%;
}

.hidden {
  display: none;
}

.landing_image
{
  margin: 5% 0 5% 0; 
}

#form input{
  margin: 10px;
  padding: 10px 30px;
}

#input{
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
}

form{
  margin: 30px;
  display: flex
}

.share_msg
{
  margin: 2% 0 5% 0;;
}

#button{
  background-color: 	rgb(171, 198, 71);
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 5px;
}

#returnToImageBtn
{
  margin: 20px;
  color: white;
}

#returnToHome
{
  margin: 20px;
  padding: 20px 30px;
  font-size: 1.8rem;;
  color: white
}

#mainButton
{
  padding: 20px 30px;
  font-size: 1.8rem;
}

